/* Fonts added  */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Body background design */
body{
    margin: 0;
    background-image: url("../assets/bg.png");
}
/* Total Header Section */
.headers{
    /* width: 1440px;
    margin: 0 auto; */
}

/* Navigation bar  */
.main-nav{
        max-width: 1440px;
        margin: 1.25rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-1{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.menu-icon{
    display: none;
}
.nav-title{
    color: black;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.9rem;
}
.nav-2{
    display: flex;
    gap: 2rem;
    justify-content: space-between;

}
.list-items{
    list-style: none;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.9rem;
}
.li-1{
    color: #fea301;
}
.li-2{
    color: #01ACFD;
}
.li-3{
    color: #05D4DF;
}
.li-4{
    color: #5D58EF;
}
.list-items a{
    text-decoration: none;
}
.btn-button{
    background-color: #FEA301;
    padding: 0.65rem 0.65rem;
    border-radius: 12px;
    border: none;
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.9rem;
    color: #FFFFFF;
    cursor: pointer;
}
hr{
    display: none;
}

/* Hero Section */
.hero{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3.8rem;
}
.hero-main{
    /* flex: 1; */
    /* border: 1px solid red; */
    width: 60%;

}
.hero-title{
    color: black;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    margin-bottom: 1.5rem;
    /* width: 60%; */
}
.d1{
    color: orange;
}
.d2{
    color: #01ACFD;
}
.hero-description{
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
    width: 75%;
    margin-bottom: 1.5rem;
}
.hero-img{
    /* flex: 1; */
}
.hero-img img{
    width: 100%;
}
.hero-btn{
    background-color: black;
    padding: 0.65rem 0.65rem;
    border-radius: 12px;
    border: none;
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.9rem;
    color: #FFFFFF;
    cursor: pointer;
    
}

/* Card Section */
.card{}
.card-main-title{
    width: 470px;
    height: 58px;
    margin: 0 auto;
    color: #000000;
    font-weight: 700;
    font-size: 2.9rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
}
.main-card{
    max-width: 1161px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    align-items: center;
}
.card-content{
    
    width: 368px;
    height: 477px;
    border-radius: 1.2rem;
    box-shadow: 4px 4px 30px #DEF5FF;
}
.co1{
background: linear-gradient(
  180deg,
  rgba(222, 245, 255, 1) 0%,
  rgba(255, 255, 255, 0) 40%
);
}
.co2{
background: linear-gradient(
  180deg,
  rgba(255, 244, 220, 1) 0%,
  rgba(255, 255, 255, 0) 40%
);
}
.co3{
background: linear-gradient(
  180deg,
 rgba(238, 225, 255, 1) 0%,
  rgba(255, 255, 255, 0) 40%
);
}
.card-content img{
    /* width: 100%; */
}

.card-inside-1{
    margin-top: 2.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
}
.card-inside{
    margin-top: 3.35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .card-title-1{
    margin-top: 1rem;
    font-size: 1.55rem;
    font-weight: 700;
    line-height: 1.93rem;
    color: #202020;
} */

.card-title{
    margin-top: 2.30rem;
    font-size: 1.55rem;
    font-weight: 700;
    line-height: 1.93rem;
    color: #202020;
    margin-bottom: 0rem;
}
.card-description{
    /* margin-top: 2.1rem; */
    text-align: center;
    font-size: 0.98rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: #808080;

}
.btn-card{
    margin-top: 2.1rem;
    width: 103px;
    height: 28.5px;
    border: none;
    background-color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.8rem;
}
.c1{
    color: #64C8FF;
}
.c2{
    color: #F0AA00;
}
.c3{
    color: #8700FF;
}

/* point section */
.point{
    max-width: 140px;
    margin: 0 auto;
    height: 60px;
    /* display: flex; */
    margin-bottom: 3.75rem;
    display: flex;
    gap:1.65rem;
    justify-content: center;
    align-items: center;
    
}

.point-1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
}
.point-1:hover{
    background-color: #8700FF;
}


/* Story Section */
.story{
    background: linear-gradient(
  0deg,
    rgba(254, 163, 1, 1) 0%,
  rgba(255, 255, 255, 1) 100%
);
}
.story-main-title{
    max-width: 462px;
    margin: 0 auto;
    height: 2.5rem;
    line-height: 3.5rem;
    font-size: 2.85rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    margin-bottom: 5rem;
}
.story-container{
    max-width: 1160px;
    margin: 0 auto;
    /* height: 631px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.3rem;
    /* box-shadow: 4px 4px 30px #DEF5FF; */
}
.story-card1{
    background-color: #FFFFFF;
    border-radius: 1rem;
    grid-row: span 2;
    box-shadow: 4px 4px 30px #DEF5FF;
}
.story-card2, .story-card3, .story-card4, .story-card5{
    background-color: #FFFFFF;
    border-radius: 1rem;
    border-radius: 1rem;
    box-shadow: 4px 4px 30px #DEF5FF;
}
/* .story-card3{
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 4px 4px 30px #DEF5FF;
}
.story-card4{
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 4px 4px 30px #DEF5FF;
}
.story-card5{
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 4px 4px 30px #DEF5FF;
} */
.story-image img{
    border-radius: 1rem 1rem 0rem 0rem;
}
.story-btn{
    width: 175px;
    height: 48px;
    border-radius: 3rem;
    font-size: 0.975rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #ffffff;
    border: none;
    position: relative;
    left: 39px;
    top: -30px;
}
.col-1{
     background-color: #3CD8E8;
}
.col-2{
     background-color: #95B226;
}
.col-3{
     background-color: #5D58F0;
}
.col-4{
     background-color: #A44AA0;
}
.col-5{
     background-color: #C6794D;
}
.st{
    margin: 59px 39px 48px 39px;
}
.st1{
    margin: 0px 39px 28px 39px;
}
.story-title{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #000000;
}
.story-title1{
    font-size: 0.975rem;
    font-weight: 700;
    line-height: 1.75rem;
    color: #000000;
}
.story-description{
    font-size: 0.975rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: #666666;
    margin: 0px 39px 35px 39px;
}



/* Mobile Responsive are From there  */
@media screen and (max-width: 576px) {
    /* navigation bar  */
    .nav-2, .btn-button, .nav-title {
        display: none;
    }
    .menu-icon{
        display: block;
        weight: 1.9rem;
        height: 1.9rem;
    }
    .main-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 390px;
        margin: 20px auto;
    }
    hr{
        display: block;
        border-top: 1px solid rgba(254, 163, 1, 0.5);
    }

    /* Hero Section */
    .hero{
        flex-direction: column-reverse;
    }
    .hero-main{
        width: 100%;
        text-align: center;
    }
    .hero-description{
        width: 100%;
    }
    .hero-title{
    font-size: 3.3rem;
    }
    

    /* Cards section */
.main-card{
    flex-direction: column;
    /* align-items: center; */
    gap: 0.9rem;
}
}


